span.topName
{
	 text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 15px;
  margin: 0 0 0 4px;
}
.topNamee
{
	color : white;
	 text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 15px;
  margin: 0 0 0 4px;
}
button.topMenu
{
	color : white;
	background : transparent;
	float : right;

}
button.active
{
	
	color : #aaffaa;
	background : transparent;
	float : right;

}
.header
{
  background-color: #111;
  color: #eee;
  padding: 40px; 
}
body
{
	background : url("../img/bg3.jpg");
}
.motivate
{
	
	 font-family: "Comic Sans MS", cursive, sans-serif;
	 color : white;
	 font-size : 25px;
	 text-align : center;
	padding : 60px;
	margin : 100px auto;
	background : transparent;
	
}
.footer
{
	
	text-align : center;
	height : 100px;
	position : fixed;
	bottom : 0px;
	left : 0px;
	right : 15px;
	width : 100%;
	margin : 0px;
	padding : 50px;
	background : #bbbbaa55;
}
.aboutouter
{
	background : transparent;
	width : 100%;
	text-align:center;
}
.aboutinner
{
		min-width : 300px;
		width : 20%;
		float : left;
		border-radius : 50px;
}
.aboutinnerr
{
		width : 100%;
		float : center ;
		text-align : left;
}
.det{
	
	 font-family: "Comic Sans MS", cursive, sans-serif;
	color : #aaffaa;
	 font-size : 20px;
	 text-align : center;
	
	
}
.rootblog
{
	width : 100%;
	
}

.category
{
	width : 200px;
	border : 1px solid;
	float : left;
	background : lightgreen;
}

.loadblog
{
	margin : 15px;
	float : left;
	width : 75%;
	border : 1px solid;
}
.opt
{
	border : 2px solid lightgreen;
	background : aqua;
	margin : 15px;
	list-style-type : none;
	text-align : center;
}
.opt:hover
{
	cursor : pointer;
	border : 2px solid green;
}
.opt:active
{
	cursor : pointer;
	border : 2px solid black;
}
