@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #FDD7AA; /* f2f6f5 c8dad3 93b5b3 63707e */
  font-family: 'Lato', sans-serif;
  margin: 0;
}

nav {
  background-color: #A64253;
  color: #fff;
  padding: 15px;
  justify-content: flex-end;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

nav a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  position: relative;
}

nav a::after {
  border-bottom: 3px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  transform: translateY(10px);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: transform 0.3s ease;
}

nav a:hover::after {
  opacity: 1;
  transform: translateY(0);
}

header {
  background-image: url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80');
  background-size: cover;
  background-position: center center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  height: 100vh;
}

header::after {
  content: '';
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
}

header * {
  position: relative;
  z-index: 1;
}

header h1 {
  font-size: 60px;
  margin-bottom: 5px;
  margin-top: 0;
}

header p {
  font-size: 30px;
  margin: 0;
}

section {
  text-align: center;
  padding: 20px;
}

section h2 {
  margin: 0;
}

section p {
  margin-top: 0;

}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 810px;
  margin: 20px auto 0;
}

.project-tile {
  text-decoration: none;
  margin: 10px;
  max-width: 250px;
  transition: transform 0.3s ease;
}

.project-tile:hover {
  transform: scale(1.05);
}

.project-tile p {
  color: #000;
  font-size: 20px;
  margin-top: 10px;
}

.project-tile img {
  max-width: 100%;
}

.bg-pinkish {
  background-color: #A64253;
  color: #fff;
}

.social-ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.social-ul a {
  color: #fff;
  font-size: 30px;
  margin: 0 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 3px solid #fff;
  height: 50px;
  width: 50px;
  text-decoration: none;
}

footer  {
  background-color: #861657;
  color: #fff;
  padding: 10px;
  text-align: center;
}