
body
{
    #background : linear-gradient( #ff9933 ,white,lightgreen) fixed; 
    background : rgb(0,0,0);
    background-size:  cover;         
    background-repeat:   no-repeat;
}
img
{
    margin: 0px auto;
    display:block;
    min-width : 40%;
    max-width : 60%;
    width:auto;
    border:2px solid;
    border-radius : 20% 0% 20% 0%;
}
div.cen {
    border-radius : 20% 0% 20% 0%;
    min-width : 20%x;
    max-width : 60%;
    width:auto;
    padding : 0px 16px 0px 16px;
    height:300px;
    border: 2px solid;
    margin: 0px 16px;
}
div.cen h2,h3,b,p,i,pre
{
    color:white;
}
ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
} 
